.App {
	padding: 20px;
}

.App h3 {
	text-transform: capitalize;
}

.App form button {
	margin: 10px 0;
	cursor: pointer;
}

.wrapper {
	margin-left: 1vw;
}

.submit-btn {
	margin-top: 15px;
}

.btn {
	background: none;
	border: none;
	cursor: pointer;
}
